## Indexing in Pandas

### **Create an index**

In [3]:
import pandas as pd
import numpy as np
import random

df_exams = pd.read_csv("datasets/StudentsPerformance.csv")
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [10]:
# Creating non-repetitive values for the index
# Index in dataframes aren't allowed to be duplicates

new_index = np.arange(0, 1000)

In [11]:
# Shuffle the indices

random.shuffle(new_index)

In [12]:
# Create new column with new index
new_index

array([597, 737, 141, 781, 887, 936, 919, 458, 749, 181, 385, 498, 708,
       553, 818, 942, 482,  95, 461, 243, 513, 510, 913, 496, 472, 179,
       637, 652, 804, 797, 955, 547,  86, 214, 355, 801, 351, 506, 568,
        39, 601, 160, 445,  59, 623, 888, 501, 305, 956, 326, 228,  87,
       449, 429, 946, 215, 735, 539, 358, 234, 617, 293, 211, 198, 764,
       741, 994, 272, 811, 576, 612, 736, 761, 753, 525, 815, 415, 678,
       924, 342, 361, 722, 852, 972,  36, 618, 966, 407, 398, 235, 609,
       516, 739, 468,  84,  76, 296, 814, 676, 230, 127,  56, 984, 107,
        40, 911,  49,  10, 798, 356,  26, 219, 846, 716, 640,  12, 427,
       519, 935, 177, 870, 891, 208, 837, 713, 309, 527, 900, 600, 346,
       932, 985, 686, 975, 785, 649,  35, 886, 417, 239, 115, 625, 247,
       451, 692, 548, 562, 443, 794, 284, 931, 454, 541, 664,  43, 783,
       615, 471,  48, 826, 773, 488, 340, 509,  24, 961, 671, 304, 938,
       163, 834, 403, 928, 278, 379, 930, 944, 847, 475, 369, 422, 180,
       861, 650, 408, 660, 159, 394, 542, 836, 543, 651, 743, 873,  89,
       486, 121, 796, 390, 420, 995, 812, 691,  98, 728, 614, 118, 480,
       312, 927, 311, 227, 184, 128, 236, 433, 588, 124,  79, 633, 605,
       646, 520, 165, 550, 168, 185,  70, 803, 641, 895,  14,  82, 564,
       167, 657, 499, 620, 404, 740, 989,  90, 409, 808, 971, 439, 332,
         0, 602, 175, 242, 767, 920, 339, 705, 802, 567,  67, 688, 162,
       689, 383, 929, 144, 643, 470, 907, 897, 479, 206, 904, 999, 372,
       507, 220, 876, 401, 265, 700,  33, 300, 835, 819, 315, 103, 867,
       231, 493,  34, 898, 578, 276, 884, 594, 592, 536, 645,  78, 478,
       258, 962, 654, 626,  30, 338, 474, 183, 816,  42, 694, 805, 222,
       138, 529, 983, 997, 788, 316, 178, 328,  54, 307,   4, 226, 246,
       405, 782, 714, 504,  47, 171, 467, 738, 866, 489, 303, 587, 434,
       146, 457, 778, 762, 558, 579, 194, 565,  58, 289, 758, 940, 344,
       511, 850,  71, 210, 948, 123, 477, 858, 571,  41, 918, 331,  66,
       387, 485,  81, 882, 101, 670, 910, 441, 748, 465, 270, 666, 505,
         2,  52, 949, 750, 981, 712, 416, 353, 195, 726, 285, 628, 418,
       969, 786,  27, 281, 922, 828, 374, 584, 833, 572, 306, 965, 996,
       731, 598, 595, 979, 399,  83, 376, 868, 396, 546, 774, 447, 341,
         7, 554, 690, 392, 111, 538, 732, 150, 260,  16, 301, 549, 662,
        61, 894, 207, 469, 535, 109, 253, 880, 463, 806, 229, 967, 384,
         3,  85, 201, 991, 360,  21, 917, 838, 537, 125, 901, 871, 200,
        11, 500, 635, 926,  96, 825, 893, 252, 452, 799, 634, 864, 719,
       881, 174,  75, 655, 604, 466, 875,  13, 863, 132, 487, 874, 343,
       759, 330, 318, 968, 921, 610, 747, 622, 371, 151, 153, 906, 218,
       561, 317, 119, 365, 336, 941, 193, 959, 114, 476, 824, 136, 170,
       992, 414, 679, 147, 130, 378,  46, 784,  31, 885, 951, 589, 522,
       590, 673,  92, 322, 149,  22, 872, 116, 292, 827, 291, 448, 544,
       980, 668, 970, 400, 205,  25, 865, 687, 957, 630, 490, 896, 402,
       161, 223, 775, 905, 665, 345, 261,  94, 998, 596,  74, 508, 699,
       275, 173, 533,  65, 217, 704,  99, 765, 551, 674, 397, 248, 754,
       251, 377, 581, 751, 680, 721, 259, 978, 294,  38, 817, 113, 333,
       573, 915, 455, 464, 395, 779, 560,  91, 586, 532, 813, 831, 583,
       386, 658, 257, 320, 517, 839, 388, 663, 629, 337, 334, 492, 842,
       491, 321, 710, 638, 440, 212, 108, 456, 903,  23, 530, 770, 877,
       325, 288, 973, 557, 202, 832, 204, 717, 274, 225, 425,  72, 947,
       720, 283, 359, 952, 790, 256, 958, 639, 746, 964, 459, 139, 925,
       255, 521, 977,   6, 591, 742, 240, 410, 986, 112, 854, 707, 199,
       158,   1, 287, 140, 809, 126,  37, 672, 909, 391, 156, 890, 772,
       462, 148,  28, 319, 515,  77, 279, 280, 982, 701, 607, 631, 729,
       954, 357, 627,  18, 481, 849,  50,  97, 943, 514, 143, 483, 937,
       990, 569, 122, 302, 684, 241, 950, 237, 209, 273, 647, 851, 879,
       976, 254, 133, 497, 653, 724, 656, 830,  69, 393, 134, 960, 715,
       820, 780, 117, 792, 619, 695, 760, 661, 380, 432, 829, 585, 413,
       848, 914, 453, 277, 349, 145, 335, 106, 164, 856, 430, 823, 933,
       766, 769,  45, 446, 860, 534, 197, 120,  62, 155, 450, 502, 419,
       693, 503, 363, 993, 841,   8, 370, 381, 428, 268,  15, 603, 878,
       348, 621, 795, 923, 347, 706, 518, 350, 669, 727, 366, 855, 945,
       545, 188, 105, 373, 755, 484, 559, 250, 844, 718,   5, 352, 902,
       744, 696, 494, 756, 169,  80, 580, 636, 232,  32, 862, 556, 791,
       974, 264, 368, 777,  88, 555, 324, 685, 642, 613,   9, 375, 697,
       282, 299, 186, 822, 435, 552, 290, 889, 677, 421, 166, 176, 423,
       577, 323, 238,  53, 675, 382, 963, 953, 776, 853, 154, 528, 757,
       329, 297, 730, 763, 752, 245, 531, 793, 682, 271, 431, 608, 702,
       196, 593, 203, 606, 310, 574, 262, 789, 313, 249, 104, 570, 187,
       157, 436, 711, 843, 745, 939,  60, 733, 192, 563, 857, 703, 644,
       723,  51, 364, 845, 354, 129, 221, 460, 327, 859, 267, 912, 512,
       189, 152, 191, 611, 495, 526, 389, 102, 424, 667, 934, 137, 582,
       412, 314, 523, 709, 659, 266, 821, 883, 771, 698, 437, 411, 787,
       987, 624, 892, 566, 295,  63, 869, 988, 524, 807, 286, 473, 298,
       244, 648,  44,  17,  68, 575, 426, 213, 681, 734,  20, 908, 100,
        93, 269, 142, 540, 442, 616, 367, 438, 172, 406, 810,  57, 216,
       916, 899, 224, 190, 725, 233,  55, 362, 683, 444, 632, 182, 800,
       110,  29, 308, 131, 135, 599, 768,  19,  64,  73, 840, 263])

In [22]:
# Create new column with new index
# Same as creating new column with a given array of data

df_exams = df_exams.assign(new_index=new_index)

# Set new_index column as index
# This method creates a copy
# Can enable in_place update using inplace=True
df_exams = df_exams.set_index("new_index") # df.set_index("column name")
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
597,female,group B,bachelor's degree,standard,none,72,72,74
737,female,group C,some college,standard,completed,69,90,88
141,female,group B,master's degree,standard,none,90,95,93
781,male,group A,associate's degree,free/reduced,none,47,57,44
887,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
19,female,group E,master's degree,standard,completed,88,99,95
64,male,group C,high school,free/reduced,none,62,55,55
73,female,group C,high school,free/reduced,completed,59,71,65
840,female,group D,some college,standard,completed,68,78,77
263,female,group D,some college,free/reduced,none,77,86,86

### **Sort index**

In [25]:
# Sort dataframe by new index
# Returns new copy
df_exams.sort_index()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
0,female,group B,high school,standard,completed,58,70,68
1,male,group D,associate's degree,standard,none,80,63,63
2,female,group D,master's degree,free/reduced,completed,85,95,100
3,female,group A,some high school,free/reduced,none,59,73,69
4,female,group C,some college,standard,none,71,81,80
...,...,...,...,...,...,...,...,...
995,female,group C,associate's degree,standard,completed,67,84,86
996,female,group A,some college,free/reduced,none,49,65,55
997,male,group C,high school,standard,none,71,66,65
998,male,group E,associate's degree,standard,none,53,45,40
999,male,group C,some college,standard,none,58,49,42

In [26]:
# Sort dataframe by new index (descending)
df_exams.sort_index(ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
999,male,group C,some college,standard,none,58,49,42
998,male,group E,associate's degree,standard,none,53,45,40
997,male,group C,high school,standard,none,71,66,65
996,female,group A,some college,free/reduced,none,49,65,55
995,female,group C,associate's degree,standard,completed,67,84,86
...,...,...,...,...,...,...,...,...
4,female,group C,some college,standard,none,71,81,80
3,female,group A,some high school,free/reduced,none,59,73,69
2,female,group D,master's degree,free/reduced,completed,85,95,100
1,male,group D,associate's degree,standard,none,80,63,63
0,female,group B,high school,standard,completed,58,70,68