## Pandas: Setting Value for Cells

In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("datasets/players_20.csv", encoding="unicode-escape")

In [14]:
df.set_index("short_name", inplace=True)
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel AndrÃ©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,AtlÃ©tico Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,éµå¸,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,å¼ å¨,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,æ±ªæµ·å¥,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,æ½åæ,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

### Setting values to **one** cell

In [15]:
# Update Messi's height
df.loc["L. Messi", "height_cm"] = 175

In [16]:
df.loc["L. Messi", "height_cm"]

np.int64(175)

### Setting value to entire **column**

In [17]:
df.loc[:, 'height_cm'] = 190

In [18]:
df.loc[:, 'height_cm']

short_name
L. Messi             190
Cristiano Ronaldo    190
Neymar Jr            190
J. Oblak             190
E. Hazard            190
                    ...
Shao Shuai           190
Xiao Mingjie         190
Zhang Wei            190
Wang Haijian         190
Pan Ximing           190
Name: height_cm, Length: 18278, dtype: int64

### Setting value to entire **row**

In [19]:
# Get all columns that correspond to player ranked last in FIFA game

df.iloc[-1, :]

sofifa_id                                                233449
player_url    https://sofifa.com/player/233449/ximing-pan/20...
long_name                                             æ½åæ
age                                                          26
dob                                                  1993-01-11
                                    ...
lb                                                         48+2
lcb                                                        50+2
cb                                                         50+2
rcb                                                        50+2
rb                                                         48+2
Name: Pan Ximing, Length: 103, dtype: object

In [26]:
# Set NULL values to all columns that corresponds to the player ranked last

df.iloc[-1, :] = np.nan

In [27]:
df.iloc[-1]

sofifa_id     NaN
player_url    NaN
long_name     NaN
age           NaN
dob           NaN
             ...
lb            NaN
lcb           NaN
cb            NaN
rcb           NaN
rb            NaN
Name: Pan Ximing, Length: 103, dtype: object

In [23]:
type(np.nan)

float

### Setting value to **multiple cells**

In [28]:
# Set value for all items matching the list of labels

# Example: Change height of two players
players = ['L. Messi', 'Cristiano Ronaldo']
df.loc[players, "height_cm"]

short_name
L. Messi             190.0
Cristiano Ronaldo    190.0
Name: height_cm, dtype: float64

In [32]:
df.loc[players, "height_cm"] = [175, 210]

In [34]:
df.loc[players, "height_cm"]

short_name
L. Messi             175.0
Cristiano Ronaldo    210.0
Name: height_cm, dtype: float64

In [37]:
# Changing multiple col/row combination's data

df.loc[players, ["height_cm", "weight_kg"]] = [[180, 185], [100, 110]]

df.loc[players, ["height_cm", "weight_kg"]]

                   height_cm  weight_kg
short_name
L. Messi               180.0      185.0
Cristiano Ronaldo      100.0      110.0

### Setting value for rows matching a **condition**

In [49]:
# change height for players with height > 180
df2 = pd.read_csv("datasets/players_20.csv")
df2.set_index("short_name", inplace=True)
df2.loc[df2.height_cm > 180, ["height_cm"]] = 0

In [52]:
df2.loc[df2.height_cm == 0, ["height_cm"]]

                   height_cm
short_name
Cristiano Ronaldo          0
J. Oblak                   0
K. De Bruyne               0
M. ter Stegen              0
V. van Dijk                0
...                      ...
P. Martin                  0
Shao Shuai                 0
Zhang Wei                  0
Wang Haijian               0
Pan Ximing                 0

[9744 rows x 1 columns]