## Extracting data with Pandas
### Selecting Data

- `loc[row_index, column_index]`: Specify rows and columns based on their index/row and column labels.
- `iloc[row_index, column_index]`: Specify rows and columns by their 0-based integer position values.
- Both supports getting a value, a list of values, and a slice

In slicing, **loc** includes both ends, while **iloc** excludes the `end` point

---

### Using `loc[]`

### Step 0: Prepare data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("datasets/players_20.csv")

In [4]:
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [5]:
df.iloc[0] # Select row 0

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
short_name                                             L. Messi
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: 0, Length: 104, dtype: object

### Step 1: Set index using a column

In [6]:
# Set short_name as an index

df.set_index("short_name", inplace=True)

In [7]:
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [8]:
# Get a player's information from their name
df.loc["Neymar Jr"]

sofifa_id                                                190871
player_url    https://sofifa.com/player/190871/neymar-da-sil...
long_name                         Neymar da Silva Santos Junior
age                                                          27
dob                                                  1992-02-05
                                    ...
lb                                                         61+3
lcb                                                        46+3
cb                                                         46+3
rcb                                                        46+3
rb                                                         61+3
Name: Neymar Jr, Length: 103, dtype: object

In [9]:
# Select multiple columns
edf =df[["long_name", "age", "height_cm", "weight_kg", "nationality", "club"]]
edf.head()

,long_name,age,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,175,74,Belgium,Real Madrid

### **Step 2: Selecting a single value**

Using `loc[row_label, column_label]`

In [10]:
# Get data of a row

df.loc['L. Messi']

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

In [11]:
# Get a cell in the DataGrid
df.loc['L. Messi', 'height_cm'] # Sample data: Messi's height

np.int64(170)

In [12]:
df.loc['Cristiano Ronaldo', 'weight_kg']

np.int64(83)

In [13]:
# Get all rows inside the 'Club' column
df.loc[:,'club']

short_name
L. Messi                              FC Barcelona
Cristiano Ronaldo                         Juventus
Neymar Jr                      Paris Saint-Germain
J. Oblak                           Atlético Madrid
E. Hazard                              Real Madrid
                                 ...
Shao Shuai                        Beijing Renhe FC
Xiao Mingjie                      Shanghai SIPG FC
Zhang Wei                   Hebei China Fortune FC
Wang Haijian         Shanghai Greenland Shenhua FC
Pan Ximing                  Hebei China Fortune FC
Name: club, Length: 18278, dtype: object

In [14]:
# Get all rows inside the height_cm column
df.loc[:, 'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [15]:
# Get all columns that correspond to an index
df.loc["E. Hazard",]

sofifa_id                                                183277
player_url    https://sofifa.com/player/183277/eden-hazard/2...
long_name                                           Eden Hazard
age                                                          28
dob                                                  1991-01-07
                                    ...
lb                                                         61+3
lcb                                                        49+3
cb                                                         49+3
rcb                                                        49+3
rb                                                         61+3
Name: E. Hazard, Length: 103, dtype: object

In [16]:
# Get a cell
df.loc['E. Hazard', 'overall']

np.int64(91)

In [19]:
# Get a column of multiple rows
df.loc[['L. Messi', 'E. Hazard'], 'overall']

short_name
L. Messi     94
E. Hazard    91
Name: overall, dtype: int64

In [20]:
# Get multiple columns of a row
df.loc['E. Hazard', ['club', 'overall']]

club       Real Madrid
overall             91
Name: E. Hazard, dtype: object

In [21]:
# Get multiple columns of multiple rows
df.loc[['L. Messi', 'E. Hazard'], ['club', 'overall']]

                    club  overall
short_name
L. Messi    FC Barcelona       94
E. Hazard    Real Madrid       91

### **Step 3: Selecting a range of data with a slice**

- `loc[start:stop:step]` (both start and stop are included!)

In [24]:
# DF
df.head()

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [26]:
# Slice column labels
df.loc[:, "sofifa_id":"long_name"]

,sofifa_id,player_url,long_name
short_name,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard
...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明

In [28]:
# Slice index labels
df.loc["J. Oblak":"M. ter Stegen"]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
M. ter Stegen,192448,https://sofifa.com/player/192448/marc-andre-te...,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Slice both columns and index labels
df.loc["J. Oblak":"M. ter Stegen", "sofifa_id":"long_name"]

,sofifa_id,player_url,long_name
short_name,,,
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne
M. ter Stegen,192448,https://sofifa.com/player/192448/marc-andre-te...,Marc-André ter Stegen

In [30]:
# Example: Get top 1 and top 10 player name

df.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

In [34]:
df.loc["L. Messi":"M. Salah", ["age", "overall", "dob", "height_cm", "weight_kg"]]

                   age  overall         dob  height_cm  weight_kg
short_name
L. Messi            32       94  1987-06-24        170         72
Cristiano Ronaldo   34       93  1985-02-05        187         83
Neymar Jr           27       92  1992-02-05        175         68
J. Oblak            26       91  1993-01-07        188         87
E. Hazard           28       91  1991-01-07        175         74
K. De Bruyne        28       91  1991-06-28        181         70
M. ter Stegen       27       90  1992-04-30        187         85
V. van Dijk         27       90  1991-07-08        193         92
L. Modrić           33       90  1985-09-09        172         66
M. Salah            27       90  1992-06-15        175         71

### **Selecting with conditions**

In [39]:
# One condition

# Ex: select players with height above 180cm
df.loc[df["height_cm"] > 180, ["height_cm"]]

                   height_cm
short_name
Cristiano Ronaldo        187
J. Oblak                 188
K. De Bruyne             181
M. ter Stegen            187
V. van Dijk              193
...                      ...
P. Martin                188
Shao Shuai               186
Zhang Wei                186
Wang Haijian             185
Pan Ximing               182

[9744 rows x 1 columns]

In [41]:
# Multiple conditions: select players with height above 180cm from Argentina

df.loc[(df.height_cm > 180) & (df.nationality == 'Argentina'), ["height_cm", "nationality"]]

                height_cm nationality
short_name
M. Icardi             181   Argentina
G. Higuaín            186   Argentina
E. Garay              189   Argentina
N. Otamendi           183   Argentina
G. Rulli              189   Argentina
...                   ...         ...
T. Durso              185   Argentina
J. Hass               186   Argentina
R. Ferrario           186   Argentina
L. Finochietto        186   Argentina
N. Forastiero         182   Argentina

[350 rows x 2 columns]

---

### Using `iloc[]`

In [46]:
# Load dataset as usual

df = pd.read_csv("datasets/players_20.csv", encoding="unicode-escape")
df.set_index("short_name", inplace=True)
df.head()

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel AndrÃ©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,AtlÃ©tico Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [48]:
# Get cols
df.columns

Index(['sofifa_id', 'player_url', 'long_name', 'age', 'dob', 'height_cm',
       'weight_kg', 'nationality', 'club', 'overall',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=103)

In [51]:
# Height of Messi
df.iloc[0, 5]

np.int64(170)

In [52]:
# Weight of Ronaldo
df.iloc[1, 6]

np.int64(83)

In [53]:
# All rows inside the height_cm column
df.iloc[:, 5]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [55]:
# All cols corresponding to `L. Messi`
df.iloc[0, :]

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                       Lionel AndrÃ©s Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

In [62]:
# get all data about Messi and Ronaldo
# 0-2 (end exclusive)
df.iloc[[0,1]]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel AndrÃ©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3

In [63]:
# height of Messi and Ronaldo
df.iloc[[0,1], 5]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [64]:
# height and weight of Messi and Ronaldo
df.iloc[[0,1], [5, 6]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

In [65]:
# height and weight of Messi
df.iloc[0, [5, 6]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [66]:
# Slice column labels age/club

df.columns

Index(['sofifa_id', 'player_url', 'long_name', 'age', 'dob', 'height_cm',
       'weight_kg', 'nationality', 'club', 'overall',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=103)

In [69]:
df.iloc[0:2,3:9]

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [70]:
# slice index labels (top1 to top10 player)

df.iloc[0:10, 3:7]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. ModriÄ          33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71

In [73]:
# top 1 and top 10 player name
df.iloc[1:10, 0:0]

Empty DataFrame
Columns: []
Index: [Cristiano Ronaldo, Neymar Jr, J. Oblak, E. Hazard, K. De Bruyne, M. ter Stegen, V. van Dijk, L. ModriÄ, M. Salah]

In [76]:
df.iloc[[1,9],0:0]

Empty DataFrame
Columns: []
Index: [Cristiano Ronaldo, M. Salah]

### Selecting with **conditions**
- `iloc[]` cannot accept a boolean Series, but only a boolean list. Use `list()` to convert boolean Series to boolean list

In [79]:
# Select players with height above 180
df.iloc[list(df.height_cm > 180)]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,AtlÃ©tico Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
M. ter Stegen,192448,https://sofifa.com/player/192448/marc-andre-te...,Marc-AndrÃ© ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
V. van Dijk,203376,https://sofifa.com/player/203376/virgil-van-di...,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool,90,...,79+3,83+3,83+3,83+3,79+3,81+3,87+3,87+3,87+3,81+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P. Martin,251789,https://sofifa.com/player/251789/paul-martin/2...,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,éµå¸,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,å¼ å¨,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,æ±ªæµ·å¥,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,æ½åæ,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [80]:
df.iloc[list(df.height_cm > 180)].value_counts('height_cm')

height_cm
185    1193
183    1160
188     904
182     833
184     820
186     774
181     704
187     682
190     585
191     464
189     439
193     316
192     290
194     173
196     139
195     136
197      51
198      35
199      14
201      11
200      10
203       6
202       4
205       1
Name: count, dtype: int64

In [83]:
# Select player with height above 180cm and from Argentina
df.iloc[list((df.height_cm > 180 )&( df.nationality == "Argentina"))]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
M. Icardi,201399,https://sofifa.com/player/201399/mauro-icardi/...,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter,85,...,53+3,52+3,52+3,52+3,53+3,51+3,50+3,50+3,50+3,51+3
G. HiguaÃ­n,167664,https://sofifa.com/player/167664/gonzalo-higua...,Gonzalo Gerardo HiguaÃ­n,31,1987-12-10,186,89,Argentina,Juventus,85,...,53+3,52+3,52+3,52+3,53+3,49+3,47+3,47+3,47+3,49+3
E. Garay,170481,https://sofifa.com/player/170481/ezequiel-gara...,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF,83,...,71+3,76+3,76+3,76+3,71+3,72+3,80+3,80+3,80+3,72+3
N. Otamendi,192366,https://sofifa.com/player/192366/nicolas-otame...,NicolÃ¡s HernÃ¡n Otamendi,31,1988-02-12,183,81,Argentina,Manchester City,83,...,71+3,77+3,77+3,77+3,71+3,73+3,81+3,81+3,81+3,73+3
G. Rulli,215316,https://sofifa.com/player/215316/geronimo-rull...,GerÃ³nimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T. Durso,240955,https://sofifa.com/player/240955/tomas-durso/2...,TomÃ¡s Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J. Hass,247295,https://sofifa.com/player/247295/joaquin-hass/...,JoaquÃ­n Hass,21,1998-03-27,186,88,Argentina,Club AtlÃ©tico ColÃ³n,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R. Ferrario,245057,https://sofifa.com/player/245057/rafael-ferrar...,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club AtlÃ©tico HuracÃ¡n,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L. Finochietto,241099,https://sofifa.com/player/241099/leandro-finoc...,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N. Forastiero,246841,https://sofifa.com/player/246841/nicolas-foras...,NicolÃ¡s Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df.iloc[list((df.height_cm > 180 )&( df.nationality == "Argentina"))].value_counts(["height_cm", "nationality"])

height_cm  nationality
185        Argentina      45
186        Argentina      38
183        Argentina      38
184        Argentina      37
182        Argentina      35
181        Argentina      32
188        Argentina      25
187        Argentina      24
190        Argentina      23
191        Argentina      15
189        Argentina      11
193        Argentina      11
192        Argentina       6
194        Argentina       5
195        Argentina       2
197        Argentina       2
196        Argentina       1
Name: count, dtype: int64