In [24]:
import pandas as pd

In [25]:
# Reading 1 csv file from the site

df = pd.read_csv("https://football-data.co.uk/new/CHN.csv")
df.head()

,Country,League,Season,Date,Time,Home,Away,HG,AG,Res,...,MaxCA,AvgCH,AvgCD,AvgCA,BFECH,BFECD,BFECA,B365CH,B365CD,B36CA
0,China,Super League,2014,07/03/2014,11:00,Shandong Luneng,Zhejiang Yiteng,1,0,H,...,13.00,1.21,5.72,9.77,NaN,NaN,NaN,NaN,NaN,NaN
1,China,Super League,2014,08/03/2014,08:30,Guangzhou Evergrande,Henan Songshan Longmen,3,0,H,...,23.00,1.14,6.64,15.35,NaN,NaN,NaN,NaN,NaN,NaN
2,China,Super League,2014,08/03/2014,11:30,Beijing Guoan,Changchun Yatai,1,0,H,...,9.70,1.39,4.27,7.18,NaN,NaN,NaN,NaN,NaN,NaN
3,China,Super League,2014,08/03/2014,11:35,Hangzhou Greentown,Dalian Yifang F.C.,1,1,D,...,2.78,2.70,3.10,2.48,NaN,NaN,NaN,NaN,NaN,NaN
4,China,Super League,2014,08/03/2014,11:35,Jiangsu Suning,Beijing Renhe,0,0,D,...,4.38,2.01,3.23,3.48,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Showing DF
df.head()

,Country,League,Season,Date,Time,Home,Away,HG,AG,Res,...,MaxCA,AvgCH,AvgCD,AvgCA,BFECH,BFECD,BFECA,B365CH,B365CD,B36CA
0,China,Super League,2014,07/03/2014,11:00,Shandong Luneng,Zhejiang Yiteng,1,0,H,...,13.00,1.21,5.72,9.77,NaN,NaN,NaN,NaN,NaN,NaN
1,China,Super League,2014,08/03/2014,08:30,Guangzhou Evergrande,Henan Songshan Longmen,3,0,H,...,23.00,1.14,6.64,15.35,NaN,NaN,NaN,NaN,NaN,NaN
2,China,Super League,2014,08/03/2014,11:30,Beijing Guoan,Changchun Yatai,1,0,H,...,9.70,1.39,4.27,7.18,NaN,NaN,NaN,NaN,NaN,NaN
3,China,Super League,2014,08/03/2014,11:35,Hangzhou Greentown,Dalian Yifang F.C.,1,1,D,...,2.78,2.70,3.10,2.48,NaN,NaN,NaN,NaN,NaN,NaN
4,China,Super League,2014,08/03/2014,11:35,Jiangsu Suning,Beijing Renhe,0,0,D,...,4.38,2.01,3.23,3.48,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Renaming columns
df.rename(columns={"Season": "Year", "HG": "Home Goal", "AG": "Away Goal"}, inplace=True)
df.head(3)

,Country,League,Year,Date,Time,Home,Away,Home Goal,Away Goal,Res,...,MaxCA,AvgCH,AvgCD,AvgCA,BFECH,BFECD,BFECA,B365CH,B365CD,B36CA
0,China,Super League,2014,07/03/2014,11:00,Shandong Luneng,Zhejiang Yiteng,1,0,H,...,13.0,1.21,5.72,9.77,NaN,NaN,NaN,NaN,NaN,NaN
1,China,Super League,2014,08/03/2014,08:30,Guangzhou Evergrande,Henan Songshan Longmen,3,0,H,...,23.0,1.14,6.64,15.35,NaN,NaN,NaN,NaN,NaN,NaN
2,China,Super League,2014,08/03/2014,11:30,Beijing Guoan,Changchun Yatai,1,0,H,...,9.7,1.39,4.27,7.18,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.sort_values("Year", ascending=False, inplace = True)
df[["Date", "Time", "Home", "Away", "Home Goal", "Away Goal", "Res"]]

,Date,Time,Home,Away,Home Goal,Away Goal,Res
2803,22/11/2025,07:30,Qingdao West Coast,Changchun Yatai,1,0,H
2802,22/11/2025,07:30,Henan Songshan Longmen,Yunnan Yukun,1,1,D
2801,22/11/2025,07:30,Dalian Yingbo,Shanghai Port,0,1,A
2800,22/11/2025,07:30,Beijing Guoan,Meizhou Hakka,5,1,H
2799,02/11/2025,11:35,Yunnan Yukun,Qingdao West Coast,1,0,H
...,...,...,...,...,...,...,...
67,30/04/2014,12:30,Beijing Guoan,Jiangsu Suning,1,0,H
36,06/04/2014,12:35,Hangzhou Greentown,Beijing Renhe,2,1,H
37,06/04/2014,13:00,Guangzhou Evergrande,Dalian Yifang F.C.,4,2,H
38,07/04/2014,12:30,Beijing Guoan,Guangzhou R&F,2,0,H
39,09/04/2014,12:35,Jiangsu Suning,Shandong Luneng,1,0,H

In [32]:
# Reading multiple CSVs from Pandas

# Step 1: Get all the links of the France Football result from 2020-2025
root = "https://football-data.co.uk/mmz4281"
urls = []
for i in range(25, 19, -1):
    url = root + "/" + str(i) + str(i+1) + "/" + "F1.csv"
    urls.append(url)
    url = root + "/" + str(i) + str(i+1) + "/" + "F2.csv"
    urls.append(url)

In [33]:
# Read multiple CSVs and append

dframes = []

for url in urls:
    dframes.append(
        pd.read_csv(url)
    )

In [34]:
len(dframes)

12

In [37]:
dframes[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,F1,15/08/2025,19:45,Rennes,Marseille,1,0,H,0,0,...,1.95,1.90,1.94,1.98,1.95,1.97,1.86,1.89,1.97,2.02
1,F1,16/08/2025,16:00,Lens,Lyon,0,1,A,0,1,...,1.80,2.05,1.76,2.18,1.82,2.10,1.77,2.02,1.86,2.15
2,F1,16/08/2025,18:00,Monaco,Le Havre,3,1,H,1,0,...,2.00,1.85,2.10,1.79,2.05,1.85,1.96,1.77,2.07,1.88
3,F1,16/08/2025,20:05,Nice,Toulouse,0,1,A,0,0,...,1.98,1.88,2.14,1.78,1.98,1.93,1.93,1.83,2.06,1.92
4,F1,17/08/2025,14:00,Brest,Lille,3,3,D,1,2,...,2.10,1.78,2.29,1.68,2.12,1.78,2.02,1.70,2.22,1.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,F1,14/12/2025,14:00,Lyon,Le Havre,1,0,H,0,0,...,1.75,2.05,1.81,2.11,1.83,2.05,1.77,2.01,1.88,2.11
140,F1,14/12/2025,16:15,Auxerre,Lille,3,4,A,0,1,...,1.95,1.90,1.96,1.96,1.95,1.91,1.86,1.87,2.01,1.98
141,F1,14/12/2025,16:15,Lens,Nice,2,0,H,1,0,...,1.90,1.95,1.92,2.01,1.90,2.12,1.81,1.98,1.98,2.00
142,F1,14/12/2025,16:15,Strasbourg,Lorient,0,0,D,0,0,...,1.73,2.08,1.81,2.10,1.83,2.10,1.73,2.04,1.85,2.17
143,F1,14/12/2025,19:45,Marseille,Monaco,1,0,H,0,0,...,2.03,1.83,2.10,1.84,2.05,1.83,1.97,1.79,2.10,1.89

In [38]:
dframes[1]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,F2,09/08/2025,13:00,Guingamp,Le Mans,3,3,D,0,2,...,1.95,1.85,2.00,1.88,1.95,1.97,1.86,1.86,2.04,1.93
1,F2,09/08/2025,19:00,Dunkerque,Clermont,2,2,D,1,2,...,1.88,1.93,1.81,2.02,1.88,1.93,1.77,1.89,1.95,2.02
2,F2,09/08/2025,19:00,Laval,St Etienne,3,3,D,2,2,...,1.98,1.83,2.34,1.65,2.02,1.83,1.97,1.76,2.13,1.85
3,F2,09/08/2025,19:00,Montpellier,Red Star,1,1,D,1,1,...,1.80,2.00,1.81,2.08,1.83,2.00,1.77,1.95,1.89,2.11
4,F2,09/08/2025,19:00,Pau FC,Annecy,2,0,H,1,0,...,2.03,1.78,2.07,1.83,2.03,1.78,1.91,1.75,2.16,1.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,F2,12/12/2025,19:00,Rodez,Guingamp,2,1,H,1,0,...,2.08,1.73,NaN,NaN,2.08,1.73,2.04,1.68,2.19,1.83
148,F2,13/12/2025,13:00,Grenoble,Montpellier,1,1,D,0,0,...,2.05,1.75,NaN,NaN,2.05,1.78,1.95,1.75,2.08,1.89
149,F2,13/12/2025,13:00,Red Star,Reims,0,0,D,0,0,...,1.95,1.85,NaN,NaN,1.95,1.92,1.84,1.85,1.98,1.99
150,F2,13/12/2025,19:00,St Etienne,Bastia,2,2,D,1,2,...,2.00,1.80,NaN,NaN,2.05,1.80,1.99,1.72,2.08,1.85
151,F2,15/12/2025,19:45,Boulogne,Troyes,1,2,A,1,1,...,1.78,2.03,NaN,NaN,1.83,2.03,1.75,1.97,1.87,2.12

In [39]:
dframes[2]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,F1,16/08/2024,19:45,Le Havre,Paris SG,1,4,A,0,1,...,1.93,2.00,1.95,1.97,1.95,2.02,1.89,1.95,1.95,2.02
1,F1,17/08/2024,16:00,Brest,Marseille,1,5,A,1,3,...,1.89,2.04,1.91,2.02,1.91,2.08,1.85,2.01,1.90,2.09
2,F1,17/08/2024,18:00,Reims,Lille,0,2,A,0,1,...,2.10,1.70,2.14,1.81,2.14,1.85,2.07,1.80,2.13,1.86
3,F1,17/08/2024,20:00,Monaco,St Etienne,1,0,H,1,0,...,2.00,1.93,2.00,1.93,2.00,2.01,1.95,1.91,1.95,2.00
4,F1,18/08/2024,14:00,Auxerre,Nice,2,1,H,1,1,...,1.82,2.11,1.82,2.13,1.83,2.17,1.77,2.10,1.84,2.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,F1,17/05/2025,20:00,Nantes,Montpellier,3,0,H,2,0,...,1.90,1.95,1.96,1.96,1.96,2.01,1.92,1.93,1.98,1.97
302,F1,17/05/2025,20:00,Nice,Brest,6,0,H,3,0,...,1.80,2.05,1.80,2.11,1.83,2.11,1.80,2.05,1.82,2.18
303,F1,17/05/2025,20:00,Paris SG,Auxerre,3,1,H,0,1,...,1.83,2.03,2.00,1.91,2.00,2.03,1.90,1.94,2.00,1.98
304,F1,17/05/2025,20:00,St Etienne,Toulouse,2,3,A,1,2,...,2.05,1.80,2.14,1.78,2.14,1.87,2.03,1.81,2.12,1.87
305,F1,17/05/2025,20:00,Strasbourg,Le Havre,2,3,A,1,1,...,1.83,2.03,1.84,2.10,1.90,2.11,1.82,2.03,1.82,2.18

In [45]:
pd.concat(dframes)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,IWA,VCH,VCD,VCA,IWCH,IWCD,IWCA,VCCH,VCCD,VCCA
0,F1,15/08/2025,19:45,Rennes,Marseille,1,0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F1,16/08/2025,16:00,Lens,Lyon,0,1,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F1,16/08/2025,18:00,Monaco,Le Havre,3,1,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F1,16/08/2025,20:05,Nice,Toulouse,0,1,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F1,17/08/2025,14:00,Brest,Lille,3,3,D,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,F2,15/05/2021,19:00,Nancy,Amiens,2,2,D,0.0,1.0,...,3.75,2.05,3.25,3.90,1.95,3.45,3.75,1.90,3.5,4.10
376,F2,15/05/2021,19:00,Niort,Guingamp,0,2,A,0.0,1.0,...,3.00,2.50,3.20,2.90,2.30,3.15,3.15,2.30,3.3,3.13
377,F2,15/05/2021,19:00,Paris FC,Chambly,3,0,H,0.0,0.0,...,6.00,1.53,3.90,7.00,1.60,4.20,5.25,1.55,4.0,6.50
378,F2,15/05/2021,19:00,Pau FC,Valenciennes,4,3,H,3.0,0.0,...,4.40,1.75,3.75,4.60,1.65,4.00,4.80,1.65,4.1,5.00
379,F2,15/05/2021,19:00,Sochaux,Auxerre,2,3,A,1.0,0.0,...,1.95,4.20,3.30,1.95,4.70,3.95,1.67,5.00,3.8,1.70